.promo-n-header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.promo-bar {
    background-color: #ff0000;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    color: #fff;
    height: 8px;
}

.promo-bar p{
    font-size: 12px;
    margin-top: -3px;
}

header {
    background: url(../Assets/home-header.jpg) no-repeat;
    background-size: cover;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #444;
    height: 60px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.logo img {
    height: 80px;
    width: auto;
    cursor: pointer;
}
.search-bar {
    position: relative;
}
.search-bar input {
    padding: 8px 8px 8px 40px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #222;
    color: #DAA520;
}
.search-icon {
    height: 15px;
    width: auto;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.contact-text {
    width: fit-content;
    height: 33px; 
    padding-top: 15px; 
    position: relative;
    padding-right: 33px;
    cursor: pointer;
}

.contactus p {
    font-size: smaller;
}
.user-icon {
    width: 28px; 
    height: 28px; 
    margin-right: 7px; 
  }

.user-menu, .cart {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: #DAA520;
    z-index: 100;
}
.user-menu:hover .user-dropdown, .regions:hover .regions-dropdown {
    display: block;
}
.user-dropdown, .regions-dropdown {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
    border-radius: 4px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.user-dropdown a, .regions-dropdown a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: #DAA520;
    border-bottom: 1px solid #444;
    text-align: center;
}
.user-dropdown a:hover, .regions-dropdown a:hover {
    background-color: #575757;
}
.cart span {
    background-color: #ff5722;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
}
.navigation-bar {
    background-color: #000;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 0 20px;
}
.navigation-bar a, .regions {
    color: #DAA520;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
    flex: 1;
    text-align: center;
    position: relative;
}
.regions {
    display: flex;
    justify-content: center;
    align-items: center;
}
.regions-dropdown {
    position: absolute;
    background-color: #333;
    display: none;
    min-width: 160px;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
}
.regions:hover .regions-dropdown {
    display: block;
}
.regions-dropdown a:hover {
    background-color: #575757;
}
.icon {
    font-size: 24px;
    margin-bottom: 4px;
}


footer {
    background-color: #414141;
    color: #daa520;
    padding: 0px;
}

.footer-subscribe {
    background-color: #000;
    text-align: center;
    padding: 10px;
    color: #daa520;
}

.footer-subscribe form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-subscribe p {
    color: #DAA520;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
}

.input-container {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.mail-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 18px; 
    width: auto;
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.footer-subscribe input {
    padding: 8px 8px 8px 30px;
    font-size: 14px;
    border: 1px solid #aaa;
    border-radius: 4px;
    color: #000;
}

.footer-subscribe button {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    background-color: #daa520;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
}

.footer-subscribe button:hover {
    background-color: #5d4405;
    color: #ccc;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-column {
    width: 150px;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #daa520;
}

.footer-column a {
    display: block;
    color: #daa520;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 14px;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-column img {
    height: 25px;
    width: auto;
    margin-right: 10px;
    vertical-align: middle;
}

#unionpay-icon-size {
    height: 40px;
    width: auto;
    margin-top: 5px;
}

.footer-bottom-bar {
    background-color: #414141;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #000;
}

.footer-bottom-bar p {
    margin: 0;
    color: #DAA520;
}