body {
    background-color: #FFFDD0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: #fffdd0;
    background-size: cover;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 120px;
    width: auto;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #fffdd0;
}

.form-container {
    background-color: wheat;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 400px;
    width: 600px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

h2 {
    width: 100%;
    margin: 10px 0;
}

hr {
    width: 100%;
    margin: 5px 0;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.form-group {
    position: relative;
    margin-top: 20px;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.show-password {
    margin-top: 11px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form-group.remember-me-group {
    display: flex;
    align-items: top;
    margin-bottom: 0;
}

.remember-me-group input {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    margin-top: 9px;
}

.forgot-password {
    color: #007BFF;
    text-decoration: none;
    margin-top: 33px;
}

button.login-button {
    margin-top: 35px;
    padding: 15px 120px;
    background-color: #f44336;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
    align-self: center;
}

button.login-button:hover {
    background-color: #593f43;
}

.register-link {
    margin-top: 20px;
}

.register-link a {
    color: #007BFF;
}

.back-home-button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #757575;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.back-home-button:hover {
    background-color: #535050;
}

footer {
    background-color: #414141;
    color: #daa520;
    padding: 0px;
    font-weight: bold;
}

.footer-subscribe {
    background-color: #000;
    text-align: center;
    padding: 10px;
    color: #daa520;
}

.footer-subscribe form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-subscribe p {
    color: #DAA520;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
}

.input-container {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.mail-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
    width: auto;
}

.footer-subscribe input {
    padding: 8px 8px 8px 30px;
    font-size: 14px;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin-top: 0px;
    color: #000;
}

.footer-subscribe button {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    background-color: #daa520;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.footer-subscribe button:hover {
    background-color: #5d4405;
    color: #ccc;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-column {
    width: 150px;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #daa520;
}

.footer-column a {
    display: block;
    color: #daa520;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 14px;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-column img {
    height: 25px;
    width: auto;
    margin-right: 10px;
    vertical-align: middle;
}

#unionpay-icon-size {
    height: 40px;
    width: auto;
    margin-top: 5px;
}

.footer-bottom-bar {
    background-color: #414141;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #000;
}

.footer-bottom-bar p {
    margin: 0;
    color: #DAA520;
}